<% provide(:title, "Price Guide") %>
<div class="row">
	<div class="span8 offset2">
    <h3>Wine List</h3>
    <p>
	    We currently offer over 150 different wines, including reds, whites, dessert wines, and even fruit wines (great for beach 
      picnics and barbecues).  Each barrel will yield 28-31 bottles of fantastic wine.  Our award-winning wines come from 
      select vineyards from all over the world.  All of our wines are of the highest quality, which resulted in an impressive 445 
      medals at the 2007 Winemaker International Amateur Competition.  We have plenty of wines available to taste, so come on 
      in and taste the excellence for yourself!
    </p>
    <p>All of our wines will be ready to bottle 4 to 6 weeks from the time they are mixed, so make sure to get yours started today.</p>
    <p><b>PRICES INCLUDE EVERYTHING NEEDED TO CREATE 28-31 BOTTLES OF DELICIOUS WINE.</b></p>
  </div>
</div>
<div class="row price_list">
	<div class="span4">
    <h2><%= image_tag "glass3.png" %>red</h2>
    <hr class="hr2" />
    <h3>Cellar Classic Reds<br />(4-6 weeks)</h3>
    <ul>
      <li>Cabernet Sauvignon, California</li>
      <li>Chianti, Italy</li>
      <li>Malbec, California</li>
      <li>Merlot, California</li>
      <li>Merlot, Washington</li>
      <li>Syrah, California</li>
      <li>Pinot Noir, Oregon</li>
      <li>Pinot Noir, British Columbia*</li>
      <li>Red Zinfandel, California</li>
      <li>Malbec Syrah, Argentina</li>
    </ul>
    <h3>International Series<br />(6 weeks)</h3>
    <ul>
      <li>Barolo, Italy</li>
      <li>Bordeuax Blend, France</li>
      <li>Chianti, Italy*</li>
      <li>Cab Malbec Carmenere, Chile*</li>
      <li>Malbec, Chile*</li>
      <li>Rosso Grande, Italy*</li>
      <li>Merlot, France*</li>
      <li>Brunello, Italy*</li>
      <li>Grenache Syrah Mouvedre, Aust.*</li>
      <li>Old Vine Zinfandel, California*</li>
      <li>Cabernet Sauvignon, Chile*</li>
    </ul>
    <h2><%= image_tag "glass3.png" %>specialty</h2>
    <hr class="hr2">
    <ul>
    	<li>Orange Chocolate Port*</li>
    	<li>Premium Ruby Port*</li>
    	<li>Cabernet Franc Ice Wine*</li>
    	<li>Late Harvest Riesling*</li>
    	<li>Vidal Ice Wine*</li>
    	<li>Apple Tatin White Port*</li>
    </ul>
	</div>
	<div class="span4">
    <h2><%= image_tag "glass3.png" %>white</h2>
    <hr class="hr2" />
    <h3>Celler Classic Whites<br />(4-6 weeks)</h3>
    <ul>
    	<li>Pinot Grigio, Italy</li>
    	<li>White Merlot, California</li>
    	<li>Johannisberg Riesling, Germany</li>
    	<li>Gewurztraminer, Germany*</li>
    	<li>Piesporter, Austria*</li>
    	<li>Sauvignon Blanc, California</li>
    	<li>Chardonnay, California</li>
    </ul>
    <h3>International Series<br />(6 weeks)</h3>
    <ul>
    	<li>Bella Bianco, Italy</li>
    	<li>Symphony, California</li>
    	<li>Sauvignon Blanc, Chile</li>
    	<li>Pinot Grigio, Italy*</li>
    	<li>Un-Oaked Chardonnay, NZ</li>
    	<li>Argentine Trio*</li>
    	<li>Viognier Pinot Gris, France*</li>
    	<li>Chardonnay, Australia</li>
    </ul>
    <h2><%= image_tag "glass3.png" %>mist</h2>
    <hr class="hr2" />
    <h3>Sangria Superior Series<br />(4 weeks)</h3>
    <ul>
    	<li>Tangerine Sauvignon Blanc*</li>
    	<li>Peach Chardonnay*</li>
    	<li>Cranberry Chianti*</li>
    	<li>Kiwi Melon Pinot Grigio*</li>
    	<li>Raspberry White Zinfandel</li>
    	<li>Seville Orange Sangria</li>
      <li>Pomegranate Wildberry Zinfandel</li>
      <li>Strawberry Riesling</li>
      <li>Green Apple Gewurztraminer</li>
    </ul>
	</div>
	<div class="span4">
    <h2><%= image_tag "glass3.png" %>premium</h2>
    <hr class="hr2" />
    <h3>Cellar Classic Winery Series<br />(6 weeks)</h3>
    <ul>
    	<li>California Cabernet Sauvignon*</li>
    	<li>Sonoma Valley Pinot Noir*</li>
    	<li>Italian Super Tuscan*</li>
    	<li>Italian Valpolicella*</li>
    	<li>Washington Merlot*</li>
    	<li>South African Pinotage*</li>
    	<li>Chilean Malbec*</li>
    	<li>Old Vine Zinfandel*</li>
    	<li>Spanish Tempranillo/Cabernet*</li>
    	<li>Austrailian Bush Vine Grenache*</li>
    </ul>
    <h3>En Primeur Series<br />(8 weeks)</h3>
    <ul>
    	<li>Columbian Valley Riesling</li>
    	<li>Stag's Leap Napa Valley Merlot*</li>
    	<li>Lodi Ranch 11 Cabernet Sauvignon*</li>
    	<li>Italian Amarone*</li>
    	<li>Chilean Camenere*</li>
    	<li>New Zealand Sauvignon Blanc*</li>
    	<li>Austrailian Chardonnay*</li>
    </ul>	
    <h2 class="comming_soon">Comming Soon</h2>
    <hr class="hr2" />
    <h3>Seasonal Port Wines</h3>
    <p>Coffee, Toasted Caramel, Black Forest, Apple Tatin</p>
    <p>Winter 2013</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="span8 offset2">
    <h3>Beer List</h3>
    <p>
    	We now offer 100 different handcraft beers. From Pale Ale's to Porters we are sure to have a beer to please any palate. 
      Our beers are handcrafted right in the store. From creating the Wort to fermentation, we personally create each beer for 
      you. Some days you may even be able to smell the beer brewing!
    </p>
  </div>
</div>
<div class="row price_list">
	<div class="span4">
    <h2><%= image_tag "beer.png" %>Brew House<br />Series</h2>
    <hr class="hr2" />
    <ul>
    	<li>Dry Irish Stout</li>
    	<li>Belgian Wit Bier</li>
    	<li>Pacific NW Pale Ale</li>
    	<li>Rocky Mountain Amber Ale</li>
    	<li>American Cream Ale</li>
    	<li>80 Shilling Scottish Ale</li>
    	<li>Northlands Nut Brown Ale</li>
    	<li>Lawnmower Lager</li>
    	<li>Streets of London Porter</li>
    	<li>Bohemian Pilsner</li>
    </ul>
  </div>
	<div class="span4">
    <h2><%= image_tag "beer.png" %>Oeno Brewery<br />Series</h2>
    <hr class="hr2" />
    <ul>
    	<li>American Premium Lager</li>
    	<li>Canadian Light Lager</li>
    	<li>Honey Blonde Ale</li>
    	<li>India Pale Ale</li>
    	<li>Munich Dark Lager</li>
    	<li>Oktoberfest <i>seasonal</i></li>
    	<li>Pale Ale</li>
    	<li>Prarie Wheat</li>
    	<li>Red Ale</li>
    	<li>Winterfest <i>seasonal</i></li>
    </ul>
  </div>
	<div class="span4">
    <h2><%= image_tag "beer.png" %>Premium<br />Handcraft Series</h2>
    <hr class="hr2" />
    <ul>
    	<li>Belgian Triple Bock</li>
    	<li>Bourbon Barrel Imperial Porter</li>
    	<li>Old Mellow English Barleywine</li>
      <li>Russian Imperial Stout</li>
      <li>Scotch Wee Heavy</li>
      <li>Uber Imperial Pilsner</li>
      <li>Apricot Wheat Beer</li>
      <li>Heather n Honey Deep Brown Ale</li>
      <li>Oak Barrel Imperial IPA</li>
    </ul>
  </div>
</div>
<div class="row">
	<div class="span8 offset2">
    <p class="quote">
      "There are no standards of taste in wine, cigars, poetry, 
      prose, etc. Each man's own taste is the standard, and a 
      majority vote cannot decide for him or in any slightest 
      degree affect the supremacy of his own standard."
    </p>
    <p class="author">~Mark Twain, 1895</p>
  </div>
</div>
