<% provide(:title, "#{@post.title}") %>
<h1 class="blog_title">L.O. Photography</h1>
<h2 class="post_title"><%= @post.title %></h1>
<h3 class="post_time"><%= @post.created_at.strftime("%B %d, %Y") %></h3>

<div class="row">
  <div class="span8 offset2">
    <div class="markdown">
    	<%= markdown(@post.text) %>
    </div>
  </div>
</div>

<%= link_to 'Back', posts_path, :class => "btn" %>
<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_post_path(@post), :class => "btn" %>
<% end %>